@model List<Website.Property>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="index-jumbo">
    <h2>About page</h2>

    <p>
        I'm a all around programmer, both being able to code back-end ssweel as front-end.
        I often code in C# on the back-end side and I have some knownledge about SQl and database structuring.
        Front-end side, I usually code HTML5, CSS3 and only some JavaScript.
        During my time, 2 years of programming I have used git to sync and work togheter with small teams, more specific, Github for that.
    </p>

    <ul class="nav nav-pills" role="tablist" id="tab">
        <li role="presentation"><a class="nav-link active" data-toogle="tab" role="tab" aria-controls="jobs" href="#jobs">Jobs</a></li>
        <li role="presentation"><a class="nav-link" data-toogle="tab" role="tab" aria-controls="education" href="#education">Education</a></li>
        <li role="presentation"><a class="nav-link" data-toogle="tab" role="tab" aria-controls="skills" href="#skills">Skills</a></li>
        <li role="presentation"><a class="nav-link" data-toogle="tab" role="tab" aria-controls="experiences" href="#experiences">Experiences</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="jobs" role="tabpanel">
            <ul>
                @foreach (var item in Model)
                {
                    if (item.type == "Job")
                    {
                        <li>@item.title | @item.description</li>
                    }
                }
            </ul>
        </div>

        <div class="tab-pane" id="education" role="tabpanel">
            <ul>
                @foreach (var item in Model)
                {
                    if (item.type == "Education")
                    {
                        <li>@item.title | @item.description</li>
                    }
                }
            </ul>
        </div>

        <div class="tab-pane" id="skills" role="tabpanel">
            <ul>
                @foreach (var item in Model)
                {
                    if (item.type == "Skill")
                    {
                        <li>@item.title | @item.description</li>
                    }
                }
            </ul>
        </div>

        <div class="tab-pane" id="experience" role="tabpanel">
            <ul>
                @foreach (var item in Model)
                {
                    if (item.type == "Experience")
                    {
                        <li>@item.title | @item.description</li>
                    }
                }
            </ul>
        </div>
    </div>

    <script>
        $(function () {
            $('#tab a:first').tab('show')
        })
    </script>

</div>
