@model List<Website.Models.Property>

@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" id="index-jumbo">
    <h2>About page</h2>

    <p>
        I'm a all around programmer, both being able to code back-end ssweel as front-end.
        I often code in C# on the back-end side and I have some knownledge about SQl and database structuring.
        Front-end side, I usually code HTML5, CSS3 and only some JavaScript.
        During my time, 2 years of programming I have used git to sync and work togheter with small teams, more specific, Github for that.
    </p>

    <h3>Jobs:</h3>
    <ul>
        @foreach (var item in Model)
        {
            var type = item.GetType().ToString();

            if (type == "Website.Models.Job")
            {
                <li><strong>@item.Title</strong>: @item.Description</li>
            }
        }
    </ul>

    <h3>Educations:</h3>
    <ul>
        @foreach (var item in Model)
        {
            var type = item.GetType().ToString();

            if (type == "Website.Models.Education")
            {
                <li><strong>@item.Title</strong>: @item.Description</li>
            }
        }
    </ul>

    <h3>Skills:</h3>
    <ul>
        @foreach (var item in Model)
        {
            var type = item.GetType().ToString();

            if (type == "Website.Models.Skill")
            {
                <li><strong>@item.Title</strong>: @item.Description</li>
            }
        }
    </ul>
    <h3>Experiences:</h3>
    <ul>
        @foreach (var item in Model)
        {
            var type = item.GetType().ToString();

            if (type == "Website.Models.Experience")
            {
                <li><strong>@item.Title</strong>: @item.Description</li>
            }
        }
    </ul>
    @*<ul>
            @foreach (var item in Model)
            {
                var type = item.GetType().ToString();

                if (type == "Job")
                {
                    <li>@item</li>
                }
                else if (type == "Skill")
                {
                    <li>@item</li>
                }
            }
        </ul>*@
</div>
